@use '../../styles/shared-mixins/typography';
@use '../../styles/shared-mixins/reset-clickable';

.InlineAlert {
  --MaxUi-InlineAlert_background: var(--background-accent-neutral-fade);
  --MaxUi-InlineAlert_foreground: var(--text-primary);

  display: flex;
  align-items: flex-start;
  gap: var(--spacing-size-s);
  background-color: var(--MaxUi-InlineAlert_background);
  color: var(--MaxUi-InlineAlert_foreground);
  border-radius: var(--size-border-radius-semantic-border-radius-card);
  padding: var(--spacing-size-m);
  box-sizing: border-box;
  width: 100%;
}

.InlineAlert_appearance_themed {
  --MaxUi-InlineAlert_background: var(--background-accent-neutral-themed);
  --MaxUi-InlineAlert_foreground: var(--text-contrast-static);
}

.InlineAlert_appearance_neutral {
  --MaxUi-InlineAlert_background: var(--background-accent-neutral-fade);
  --MaxUi-InlineAlert_foreground: var(--text-primary);
}

.InlineAlert_appearance_positive {
  --MaxUi-InlineAlert_background: var(--background-accent-positive);
  --MaxUi-InlineAlert_foreground: var(--text-contrast-static);
}

.InlineAlert_appearance_negative {
  --MaxUi-InlineAlert_background: var(--background-accent-negative);
  --MaxUi-InlineAlert_foreground: var(--text-contrast-static);
}

.InlineAlert_appearance_contrast-static {
  --MaxUi-InlineAlert_background: var(--background-accent-contrast-static);
  --MaxUi-InlineAlert_foreground: var(--text-primary-static);
}

.InlineAlert__icon {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
}

.InlineAlert__content {
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-size-2xs);
  flex: 1 1 auto;
}

.InlineAlert__title {
  @include typography.labelLargeStrong;
}

.InlineAlert__description {
  @include typography.bodySmall;
}

.InlineAlert__action {
  @include reset-clickable.resetClickable;
  @include typography.actionSmall;

  color: inherit;
  align-self: flex-start;
  text-decoration: underline;
}

.InlineAlert__close {
  @include reset-clickable.resetClickable;

  color: inherit;
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  opacity: 0.75;
}
